{% extends 'layout.html.twig' %}

{% block contenido %}
    <h2>Comment</h2>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ comment.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ comment.description }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ comment.idUser }}</td>
            </tr>
            <tr>
                <th>Idroute</th>
                <td>{{ comment.idRoute }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if comment.date %}{{ comment.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comments_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('comments_edit', { 'id': comment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
