{% extends '::layout.html.twig' %}

{% block contenido %}
    <h2>Lista de usuarios</h2>
    <div class="row">
        <div class="col s2">
            <h5>Usuario</h5>
        </div>
        <div class="col s2">
            <h5>Nombre completo</h5>
        </div>
        <div class="col s3">
            <h5>Email</h5>
        </div>
        <div class="col s2">
            <h5>Twitter</h5>
        </div>
        <div class="col s3">
            <h5>Acciones</h5>
        </div>
    </div>


    {% for user in users %}
        <div class="row">
            <div class="col s2">
                <p>{{ user.username }}</p>
            </div>
            <div class="col s2">
                <p>{{ user.name }}</p>
            </div>
            <div class="col s3">
                <p>{{ user.mail }}</p>
            </div>
            <div class="col s2">
                <a href="https://twitter.com/{{ user.redes }}" target="_blank">{{ user.redes }}</a>
            </div>
            <div class="col s3">
                <a class="btn" href="{{ path('users_show', { 'id': user.id }) }}">Mostrar</a>
                <a class="btn" href="{{ path('users_edit', { 'id': user.id }) }}">Editar</a>
            </div>
        </div>
    {% endfor %}

    <ul>
        <li>
            <a class="btn" href="{{ path('users_new') }}">Crear nuevo usuario</a>
        </li>
    </ul>
{% endblock %}
