{% extends '::layout.html.twig' %}

{% block contenido %}
    <h2 class="center">Registro</h2>

    {{ form_start(form) }}
    <div class="input-field hide">
        {{ form_widget(form.rol) }}
        {{ form_label(form.rol) }}
        {{ form_errors(form.rol) }}
        {#{{ form_row(form.rol) }}#}

    </div>
        {{ form_widget(form) }}
        <input id="botonRegister" class="waves-effect btn" type="submit" value="Registrarse" />
    {{ form_end(form) }}
    <p></p>

{% endblock %}
