{% extends '::layout.html.twig' %}

{% block contenido %}
    <a class="btn" href="{{ path('logout') }}">Logout</a>

    <h2>{{ user.userName }}</h2>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            {#<tr>#}
                {#<th>Pass</th>#}
                {#<td>{{ user.password }}</td>#}
            {#</tr>#}
            <tr>
                <th>Mail</th>
                <td>{{ user.mail }}</td>
            </tr>
            {% if user.redes != null %}
                <tr>
                    <th>Twitter</th>
                    <td><a href="https://twitter.com/{{ user.redes }}" target="_blank">{{ user.redes }}</a></td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('users_edit', { 'id': user.id }) }}">Editar mi usuario</a>
    {% if app.user.rol == "ADMIN" %}
        <a class="btn" href="{{ path('users_index') }}">Listado de usuarios</a>
    {% endif %}
    <p></p>

{% endblock %}
