{% extends '::layout.html.twig' %}

{% block contenido %}
    <a class="btn" href="{{ path('logout') }}">Logout</a>

    <h2>{{ user.userName }}</h2>

    <table>
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ user.name }}</td>
        </tr>
        {#<tr>#}
        {#<th>Pass</th>#}
        {#<td>{{ user.password }}</td>#}
        {#</tr>#}
        <tr>
            <th>Mail</th>
            <td>{{ user.mail }}</td>
        </tr>
        <tr>
            <th>Rol</th>
            <td>{{ user.rol }}</td>
        </tr>
        {% if user.redes != null %}
            <tr>
                <th>Twitter</th>
                <td><a href="https://twitter.com/{{ user.redes }}" target="_blank">{{ user.redes }}</a></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <div class="row s12">
        <h5>Rutas a las que estás unido:</h5>
        {% for route in users_route %}

            <div class="chip">
                <img src="{{ asset('assets/images/routes/') ~ route.idRoute.image }}" alt="Contact Person">
                <a href="{{ path('routes_show', { 'id': route.idRoute.id }) }}">{{ route.idRoute.name }}</a>
            </div>

        {% endfor %}
    </div>


    <a class="btn" href="{{ path('users_edit', { 'id': user.id }) }}">Editar mi usuario</a>
    {% if app.user.rol == "ADMIN" %}
        <p>
            <a class="btn" href="{{ path('users_index') }}">Listado de usuarios</a>
            <a class="btn" href="{{ path('list_routes') }}">Listado de rutas</a>
            <a class="btn" href="{{ path('sites_index') }}">Listado de sitios de interés</a>
            <a class="btn" href="{{ path('list_news') }}">Listado de noticias</a>
        </p>
    {% endif %}
    <p></p>

{% endblock %}
