{% extends '::layout.html.twig' %}

{% block contenido %}
    <h2>Editar noticia</h2>

    {{ form_start(edit_form) }}
    <a class="waves-effect waves-light btn right" href="{{ path('news_index') }}">Volver</a>
    {{ form_widget(edit_form) }}
    <p></p>
    <input class="waves-effect waves-light btn" type="submit" value="Guardar"/>
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
    <input class="waves-effect waves-light btn" type="submit" value="Eliminar noticia">
    {{ form_end(delete_form) }}

{% endblock %}
