{% extends 'base.html.twig' %}

{% block body %}
    <h1>Routessites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for routesSite in routesSites %}
            <tr>
                <td><a href="{{ path('routessites_show', { 'id': routesSite.id }) }}">{{ routesSite.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('routessites_show', { 'id': routesSite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('routessites_edit', { 'id': routesSite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('routessites_new') }}">Create a new routesSite</a>
        </li>
    </ul>
{% endblock %}
