{% extends 'layout.html.twig' %}

{% block contenido %}
    <h2>{{ site.name }}</h2>

    <img class="center-block responsive-img" src="{{ asset('assets/images/sites/' ~ site.image) }}"
         alt="{{ site.name }}">
    <div><p>{{ site.description }}</p></div>

    <a class="btn" href="{{ path('homepage') }}">Volver</a>
    {% if app.user%}
        <a class="btn" href="{{ path('sites_edit', { 'id': site.id }) }}">Editar</a>
    {% endif %}
    <p></p>

    {% if app.user and (app.user.rol == "ADMIN") %}
        {{ form_start(delete_form) }}
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn" href="#modal1">Eliminar</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Eliminar sitio de interés</h4>
                <p>¿Estás seguro que quieres eliminar el sitio de interés? Hay rutas enlazadas a este sitio de interés.</p>
            </div>
            <div class="modal-footer">
                <input class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" value="Eliminar sitio de interés">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
            </div>
        </div>
        <p></p>
        {{ form_end(delete_form) }}
    {% endif %}

{% endblock %}
