{% extends 'layout.html.twig' %}

{% block contenido %}
    <h2>{{ site.name }}</h2>

    <img class="center-block" src="{{ asset('assets/images/sites/' ~ site.image) }}" alt="{{ site.name }}">
    <div><p>{{ site.description }}</p></div>

    <ul>
        <li>
            <a href="{{ path('sites_index') }}">Volver</a>
        </li>
        <li>
            <a href="{{ path('sites_edit', { 'id': site.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
