{% extends '::layout.html.twig' %}

{% block contenido %}
    <h2>Lista de rutas</h2>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Ciudad</th>
            <th>Tipo</th>
            <th>Dificultad</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for route in routes %}
            <tr>
                <td><a href="{{ path('routes_show', { 'id': route.id }) }}">{{ route.id }}</a></td>
                <td>{{ route.name }}</td>
                <td>{{ route.date|date('d-m-Y') }}</td>
                <td>{{ route.city }}</td>
                <td>{{ route.type }}</td>
                <td>{{ route.dificult }}</td>
                <td>
                    <a class="btn" href="{{ path('routes_show', { 'id': route.id }) }}">Mostrar</a>
                    <a class="btn" href="{{ path('routes_edit', { 'id': route.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn" href="{{ path('routes_new') }}">Crear nueva ruta</a>
        </li>
    </ul>
{% endblock %}
