{% extends '::layout.html.twig' %}

{% block contenido %}
    <h2 class="center">Crear Rutas</h2>

    <div>
        <h5>Sitios de interés registrados</h5>
        {% for site in sites %}
            <div class="chip">
                <img src="{{ asset('assets/images/sites/' ~ site.image) }}">
                <a href="{{ path('sites_show', { 'id': site.id }) }}">{{ site.name }}</a>
            </div>
        {% endfor %}
        <p>Crear un nuevo sitio de interés: <a class="btn" href="{{ path('sites_new') }}">Crear</a></p>
    </div>

    {{ form_start(form, { 'enctype':"multipart/form-data"}) }}

    <div class="hide">
        {{ form_widget(form.owner) }}
        {{ form_label(form.owner) }}
        {{ form_errors(form.owner) }}
        {#{{ form_row(form.owner) }}#}

    </div>
    <div class="hide">
        {{ form_widget(form.createdDate) }}
        {{ form_label(form.createdDate) }}
        {{ form_errors(form.createdDate) }}
        {#{{ form_row(form.createdDate) }}#}

    </div>
    <div class="hide">
        {{ form_widget(form.updatedDate) }}
        {{ form_label(form.updatedDate) }}
        {{ form_errors(form.updatedDate) }}
        {#{{ form_row(form.updatedDate) }}#}

    </div>

    {{ form_widget(form) }}
    <input class="btn" type="submit" value="Crear"/>
    <a class="btn" href="{{ path('homepage') }}">Volver</a>
    {{ form_end(form) }}
    <p></p>
{% endblock %}
