{% extends '::layout.html.twig' %}

{% block contenido %}
    <h2 class="center">Crear Rutas</h2>
    {{ form_start(form, { 'enctype':"multipart/form-data"}) }}
    <div>
        <h5>Sitios de interés registrados</h5>

        <select multiple name="sites[]">
            <option value="" disabled selected>Selecciona los sitios de interés</option>
            {% for site in sites %}
                <option value="{{ site.id }}"><a href="{{ path('sites_show', { 'id': site.id }) }}">{{ site.name }}</a></option>
            {% endfor %}
        </select>

        <p>Crear un nuevo sitio de interés: <a class="btn" href="{{ path('sites_new') }}">Crear</a></p>
    </div>


    <div class="hide">
        {{ form_widget(form.owner) }}
        {{ form_label(form.owner) }}
        {{ form_errors(form.owner) }}
        {#{{ form_row(form.owner) }}#}

    </div>
    <div class="hide">
        {{ form_widget(form.createdDate) }}
        {{ form_label(form.createdDate) }}
        {{ form_errors(form.createdDate) }}
        {#{{ form_row(form.createdDate) }}#}

    </div>
    <div class="hide">
        {{ form_widget(form.updatedDate) }}
        {{ form_label(form.updatedDate) }}
        {{ form_errors(form.updatedDate) }}
        {#{{ form_row(form.updatedDate) }}#}

    </div>

    <div class="hide">
        {{ form_widget(form.date) }}
        {{ form_label(form.date) }}
        {{ form_errors(form.date) }}
        {#{{ form_row(form.date) }}#}

    </div>

    <div class="hide">
        {{ form_widget(form.dateLimit) }}
        {{ form_label(form.dateLimit) }}
        {{ form_errors(form.dateLimit) }}
        {#{{ form_row(form.dateLimit) }}#}

    </div>

    {{ form_widget(form) }}
    <label for="date">Fecha de celebración</label>
    <input name="fecha" type="date" class="datepicker" required>

    <label for="date">Fecha límite de inscripción</label>
    <input name="fechaLimite" type="date" class="datepicker" required>

    <input class="btn" type="submit" value="Crear"/>
    <a class="btn" href="{{ path('homepage') }}">Volver</a>
    {{ form_end(form) }}
    <p></p>
{% endblock %}
