{% extends '::layout.html.twig' %}

{% block contenido %}

    <div class="row">
        <h2 class=" center-align light-green-text text-darken-2 s12">{{ route.name }}</h2>

        <div class="col center-align s12 m6">
            {% if route.image == null %}
                <img class="responsive-img route_img" src="{{ asset('assets/images/sample-1.jpg') }}">
            {% else %}
                <img class="responsive-img route_img" src="{{ asset('assets/images/routes/' ~ route.image) }}">
            {% endif %}
        </div>
        <div class="col s12 m6">

            <div>
                <h5 class="light-green-text text-darken-3">Descripción de la ruta.</h5>

                <p>{{ route.description }}</p>
            </div>

            <div id="content_mapa">
                <h5 class="light-green-text text-darken-3">¿Dónde y cuando tendrá lugar la ruta?</h5>

                <p>La ruta tendrá lugar el día <b>{{ route.date|date('d/m/Y') }}</b> en <b>{{ route.city }}</b>.</p>
            </div>

            <div>
                <h5 class="light-green-text text-darken-3">Tipo y dificultad de la ruta.</h5>

                <p>Tipo de ruta: <b>{{ route.type }}</b></p>

                <p>Dificultad de la ruta: <b>{{ route.dificult }}</b></p>
            </div>

            <div>
                <h5 class="light-green-text text-darken-3">Recomendaciones.</h5>

                <p>{{ route.memo }}</p>
            </div>

            <div>
                <h5>Usuarios unidos a la ruta:</h5>
                {% for user in users_route %}
                    {% if user.idUser.redes == null %}
                        <div class="chip">{{ user.idUser.username }}</div>
                    {% else %}
                        <div class="chip"><a href="https://twitter.com/{{ user.idUser.redes }}"
                                             target="_blank">{{ user.idUser.redes }}</a></div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
        <div class="col s12">
            <h5>Sitios de interés:</h5>
            {% for site in sites %}

                <div class="chip">
                    <img src="{{ asset('assets/images/sites/') ~ site.idSite.image }}" alt="Site">
                    <a href="{{ path('sites_show', { 'id': site.idSite.id }) }}">{{ site.idSite.name }}</a>
                </div>

            {% endfor %}
        </div>
        <div class="col s12">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">comment</i>Comentarios</div>
                    <div class="col s11 offset-s1 collapsible-body">
                        <h5>Comentarios</h5>


                        {% for comment in comments %}
                            <div class="col s10 offset-s1 comment">
                                <h6>{{ comment.name }}</h6>

                                <p>{{ comment.description }}</p>
                            </div>
                        {% endfor %}

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">perm_media</i>Galería</div>

                    <div class="collapsible-body">
                        <div class="slider">
                            <ul class="slides">
                                {% for image in images %}
                                    <li><img class="responsive-img" src="{{ asset('assets/images/galeries/' ~ image.image) }}"></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Mapa</div>
                    <div class="col s12 collapsible-body">
                        <iframe width="100%" height="350" frameborder="0" style="border:0"
                                src="{{ 'https://www.google.com/maps/embed/v1/place?key=AIzaSyB5llLTaPzNVZCds8BIHCQhMkzcturWsa0&q=' ~ route.city ~ ", españa" }}"
                                allowfullscreen>
                        </iframe>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col s12">
            <a class="btn" href="{{ path('homepage') }}">Volver</a>
            {% if app.user and (app.user.rol == "ADMIN" or app.user.id == route.owner) %}
                <a class="btn" href="{{ path('routes_edit', { 'id': route.id }) }}">Editar</a>
            {% endif %}
            {% if app.user %}
                <a class="btn" href="{{ path('comments_new', { 'id': route.id }) }}">Comentar</a>
                <a class="btn" href="{{ path('images_new', { 'id': route.id }) }}">Subir imagen</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
