{% extends 'layout.html.twig' %}

{% block contenido %}
    <h2>Images list</h2>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Iduser</th>
                <th>Idroute</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td><a href="{{ path('images_show', { 'id': image.id }) }}">{{ image.id }}</a></td>
                <td>{{ image.image }}</td>
                <td>{{ image.idUser }}</td>
                <td>{{ image.idRoute }}</td>
                <td>{% if image.date %}{{ image.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('images_show', { 'id': image.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('images_edit', { 'id': image.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('images_new') }}">Create a new image</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
