{% extends 'layout.html.twig' %}

{% block contenido %}
    <h2>Image creation</h2>

    {{ form_start(form, { 'enctype':"multipart/form-data"}) }}
    <div class="input-field hide">
        {{ form_widget(form.date) }}
        {{ form_label(form.date) }}
        {{ form_errors(form.date) }}
        {#{{ form_row(form.rol) }}#}

    </div>

    <div class="input-field hide">
        {{ form_widget(form.idRoute) }}
        {{ form_label(form.idRoute) }}
        {{ form_errors(form.idRoute) }}
        {#{{ form_row(form.rol) }}#}

    </div>

    <div class="input-field hide">
        {{ form_widget(form.idUser) }}
        {{ form_label(form.idUser) }}
        {{ form_errors(form.idUser) }}
        {#{{ form_row(form.rol) }}#}

    </div>



    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#test1">Subir</a></li>
                <li class="tab col s3"><a href="#test2">Seleccionar existente</a></li>
            </ul>
            <p></p>
        </div>
        <div id="test1" class="col s12">
            {{ form_widget(form) }}
        </div>
        <div id="test2" class="col s12">
            <select name="imageSelect">
                <option value="" disabled selected>Selecciona la imagen</option>
                {% set items = {} %}
                {% for imageOne in images %}
                    {% if imageOne.image in items %}
                    {% else %}
                        <option value="{{ imageOne.image }}"
                                data-icon="{{ asset('assets/images/galeries/') ~ imageOne.image }}" class="left circle">
                            Imagen
                        </option>

                        {% set items = items|merge([imageOne.image]) %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

    <p></p>
    <input class="btn" type="submit" value="Subir"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn" href="{{ path('routes_show', { 'id': route.id }) }}">Volver</a>
        </li>
    </ul>
{% endblock %}
