{% extends 'layout.html.twig' %}

{% block contenido %}
    <h2>Image creation</h2>

    {{ form_start(form, { 'enctype':"multipart/form-data"}) }}


    <div class="input-field hide">
        {{ form_widget(form.date) }}
        {{ form_label(form.date) }}
        {{ form_errors(form.date) }}
        {#{{ form_row(form.rol) }}#}

    </div>

    <div class="input-field hide">
        {{ form_widget(form.idRoute) }}
        {{ form_label(form.idRoute) }}
        {{ form_errors(form.idRoute) }}
        {#{{ form_row(form.rol) }}#}

    </div>

    <div class="input-field hide">
        {{ form_widget(form.idUser) }}
        {{ form_label(form.idUser) }}
        {{ form_errors(form.idUser) }}
        {#{{ form_row(form.rol) }}#}

    </div>

    {{ form_widget(form) }}
    <p></p>
    <input class="btn" type="submit" value="Subir"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn" href="{{ path('routes_show', { 'id': route.id }) }}">Volver</a>
        </li>
    </ul>
{% endblock %}
